<!DOCTYPE html>
<header>
</header>

<body> 
        <nav class="nav">
                <a class="nav-link active" href="/usersBoard">Users</a>
                <a class="nav-link" href="/charactersBoard">Characters</a>
                <a class="nav-link" href="/gamesBoard">Games</a>
                <a class="nav-link disabled" href="#">Disabled</a>
              </nav>
</body>