<!DOCTYPE html>
<header>
</header>

<body> 
    <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/Smash_Ball.png" width="35" height="35" class="d-inline-block align-top" alt="">
                Smash Boards</a>
                <!-- <h4 style="float: right" style="color: white">Sign In</h4> -->
                <a href = "#">Sign In</a>
        </span>
    </nav>
</body>